* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.Navigation__container {
    margin: 2rem;
    width:100%;
}

.Navigation__lists {
    display:flex;
    list-style: none;
}

.Navigation__list {
    padding:1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.Navigation__list a {
    text-decoration: none;
    color: black
}
.Main__container {
    margin-top: 2rem;
    width: 100%;
}
.Languages__box {
    display: flex;
    justify-content: center;
}